<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/city/create">Create new customer</a>
<h1></h1>
<table border="1">
    <tr>
        <th>City</th>
        <th>Nation</th>
        <th>Sửa</th>
        <th>Xóa</th>
    </tr>
    <th:block th:each="city: ${city}">
        <tr>
            <td th:text="${city.ID}"></td>
            <td th:text="${city.nameCity}" th:href="@{/city/__${city.ID}__}"></td>
            <td th:text="${city.nation?.nameNation}"></td>
            <td><a th:href="@{/city/edit/__${city.ID}__ }">Edit</a></td>
            <td><a th:href="@{/city/delete/__${city.ID}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>